table {
    border: 29px solid #3A4965;
    overflow: hidden;
    width: 1192px;
    height: 736px;
    font-family: Arimo;
    background: rgb(204, 204, 204);
    text-transform: uppercase;
    text-align: center;
    font-size: 16px;
    line-height: 28px;
    color: #484848;
}
thead td {
    font-weight: bold;
    font-size: 1.2em;
    background: #f0f0f0;
}

tr td {
   
}

.tr1 {
    background: #fafafa;
    font-family: Arimo;
    font-style: normal;
    font-weight: normal;
    
    height: 73px;
}

.tr2 {
    background: #fafafa;
    height: 89px;
}


.tr3 {
    background: #F2F2F2;
    height: 72px;
}


.tr4 {
    background: #E3E3E3;
    height: 72px;
}

.tr5 {
    background: #F2F2F2;
    height: 72px;
}

.tr6 {
    background: #E3E3E3;
    height: 72px;
}

.tr7 {
    background: #F2F2F2;
    height: 72px;
}

.tr8 {
    background: #E3E3E3;
    height: 72px;
}

.tr9 {
    
}

p {
    font-weight: bold;
    font-size: 30px;
    line-height: 28px;
}
.choose {
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    padding-bottom: 0em;
}

.lave {
    font-size: 60px;
    line-height: 28px;
    font-weight: bold;
    
    
}

.coin {
    font-weight: bold;
    font-size: 24px;
    line-height: 0px;
    vertical-align: super;   
    font-weight: bold;
}

.sometext {
    display: inline-block;
    width: 110px;
    text-align: start; 
    height: 40px;
    line-height: 20px;
    align-self: center;
}

.standard {
    background: #89C331;
    font-weight: bold;
    color: #fff;
    font-size: 24px;
}

.ultimate {
    background: #F04A56;
    font-weight: bold;
    color: #fff;
    font-size: 30px;
}

.premium {
    background: #20807C;
    font-weight: bold;
    color: #fff;
    font-size: 24px;
}

.contact {
    background: #DDDDDD;
    text-decoration: none;
    color: #fff;    
}

.buy1 {
    background: #EEEEEE;
    text-decoration: none;
    color: #fff;
}

.buy2 {
    background: #EEEEEE;
    text-decoration: none;
    color: #fff;
}

.buy3 {
    background: #EEEEEE;
    text-decoration: none;
    color: #fff;
}

.contact > a {
    text-decoration: none;
    color: #fff;
    
    
}

.contact > a > div {
    display: inline-grid;
    justify-content: center;
    align-content: center;
    width: 195px;
    height: 45px;
    background: #484848;
    border-radius: 5px 5px 5px 5px;
    border-bottom: 9px solid #404040;

}


.buy1 > a {
    text-decoration: none;
    color: #fff;
    width: 195px;
    height: 54px;
    background: #89C331;

}

.buy1 > a > div {
    display: inline-grid;
    justify-content: center;
    align-content: center;
    width: 195px;
    height: 45px;
    background: #89C331;
    border-radius: 5px 5px 5px 5px;
    border-bottom: 9px solid #79B027;
}

.buy2 > a {
    text-decoration: none;
    color: #fff;
    width: 195px;
    height: 54px;
    background: #F04A56;
}

.buy2 > a > div {
    display: inline-grid;
    justify-content: center;
    align-content: center;
    width: 195px;
    height: 45px;
    background: #F04A56;
    border-radius: 5px 5px 5px 5px;
    border-bottom: 9px solid #DF3A46;
}

.buy3 > a {
    text-decoration: none;
    color: #fff;
    width: 195px;
    height: 54px;
    background: #20807C;
    border-bottom: 4px solid #16736F; 
}

.buy3 > a > div {
    display: inline-grid;
    justify-content: center;
    align-content: center;
    width: 195px;
    height: 45px;
    background: #20807C;
    border-radius: 5px 5px 5px 5px;
    border-bottom: 9px solid #16736F;
}

