body {
    background: url("bac.png");
    background-size: 100%;
    font-family: Ubuntu;
    margin: unset;
}

p {
    font-size: 25px;
}

header {
    width: 100%;
    height: 60px;
    margin: 0px;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    position: relative;
    justify-content: space-between;
}

header  a  {
    text-decoration: none;
    color: white;
}

header li {
    list-style: none;
}

.nav {
    display: flex;
    position: relative;
    padding-right: 106px;
    
}

.jorney {
    display: grid;
    font-size: 22px;
    font-weight: bold;
    margin-left: 106px;
    justify-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}




.form {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 60px 50px auto;
    justify-items: center;
    background: #fff;
    width: 444px;
    height: 584px;
    margin-left: 33vw;
    margin-right: 33vw;
    border-radius: 4px;
    margin-top: 30px;
    grid-template-areas: 
            "sin login"
            "facebook google"
            "form form";
}

.form > ul {
    list-style: none;
    display: flex;
}

.facebook {
    grid-area: facebook;
    align-self: center;
    font-family: Ubuntu;
    text-decoration: none;
    color: #fff;
    background: #305DB8;
    width: 160px;
    height: 48px;
    border-radius: 4px;
    display: flex;
    place-items: center;
    justify-self: end;
    margin-right: 2px;
}

.google {
    grid-area: google;
    align-self: center;
    font-family: Ubuntu;
    text-decoration: none;
    color: #fff;
    background: #DF4A32;
    width: 160px;
    height: 48px;
    border-radius: 4px;
    display: flex;
    place-items: center;
    justify-self: start;
    margin-left: 2px;
    
}
.signup > p {
    font-size: 14px;
    
    
    
}
.or {
    margin: 0px 14px;

}
.signup > p > img {
    margin: 0px;
}

.sin {
    grid-area: sin;
    align-self: center;
    justify-self: start;
    margin-left: 61px;

    
}

.login {
    grid-area: login;
    align-self: center;
    font-family: Ubuntu;
    text-decoration: none;
    color: #3CB878;
    justify-self: end;
    margin-right: 60px;

}

.tab-content {
    grid-area: form;
    justify-self: center;
    align-self: center;
}


.field-wrap input {
    width: 306px;
    height: 48px;
    margin-bottom: 9px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    padding: 0px 0px 0px 13px;
   

}

.field-wrap :focus {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}

label {
    /* display: none; */
    font-size: 14px;
}

.button {
    width: 322px;
    height: 46px;

    background: #3CB878;
    border-radius: 4px;
    color: #fff;
}
.check {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-bottom: 26px;
    margin-top: 18px;
}

.check > input {
    color:#3CB878;
}

.color__green {
    color: #3CB878;
}

.jorney  :hover{
    color:#3CB878;
}
.nav :hover {
    color:#3CB878;
}

img {
    margin-left: 20px;
    margin-right: 30px;
}

.calendar :hover {
}
