* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@font-face {
    font-family: News Gothic;
    src: url(News_Gothic_Demi_Regular.ttf);
}



body {
    background-image: url(background.jpg);
    background-size: cover ;
    color: #ffbe00;
    font-family: News Gothic;
    font-size: 5vw;
    overflow: hidden;
    text-align: center;

}

.conteiner {
    margin: 0 auto;
    perspective: 220px;
    perspective-origin: bottom;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 5vw;
    right: 5vw;
    overflow: visible;
    transform: scaleY(1.6);
}

embed {
    visibility: hidden;
}

.credits {
    position: absolute;
    top: 0;
    left: 13%;
    right: 13%;
    height: 100%;
    animation: play 90s infinite;
}

.headings {
    margin-bottom: 5rem;
}

h1 {
    font-size: 2.5rem;
    text-align: center;
}

h2 {
    font-size: 3 rem;
    text-transform: uppercase;
    text-align: center;
}

p {
    padding: 1rem 0;
}

@keyframes play{
    0%{
        transform: rotatex(21deg) translate3D(0, 59rem, 0);
        opacity: 1;
    }
    85%{
        opacity: 1;
    }   
    100%{
        transform: rotatex(21deg) translate3D(0, -120rem, 0);
        opacity: 0;
    }
}

