body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    margin-top: 130px;
}

.dws-menu  {
    list-style: none;
}


.dws-menu  {
    display: flex;
    position: absolute;
    width: max-content;
}

.mda {
    color: skyblue;
}

.ra {
    position: absolute;
    width: 334px;
    height: 79px;
    margin-left: 40px;
    left: 0px;
    top: 0px;

    font-size: 70px;
    /* line-height: 94px; */
}

.dws-menu > li > a { display: flex;
    background: #35444F;
    font-size: 24px;
    padding: 0px 69px; 
    color: rgb(184, 184, 184);
    text-decoration: none;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 22px;
} 

.dws-menu > li {
    position: relative;
    border-right: 1px solid rgb(22, 28, 32);
}

.dws-menu   li:first-child {
    border-left: 1px solid rgb(22, 28, 32);
}

.dws-menu   li:last-child {
    border-right: 1px solid rgb(22, 28, 32);
}

.dws-menu >  li > a:hover {
    background:#222F3A;
    color:white;
} 

.content {
    display: flex;
    margin-top: 120px;
    padding-left: 0px;
    margin-left: 40px;
    align-items: flex-start;
}

.left-menu {
    border: 1px solid rgb(95, 95, 95);
    list-style: none;
    width: 300px;
    
}

.left-menu  ul {
    padding: 0px;
    background: #ffffff;
    list-style: none;
    margin: 0px;
}
 
.left-menu    a:hover {
    background: rgb(170, 170, 170);
    color: black;
}

.ss-m2 {
    color:rgb(95, 95, 95);
    text-decoration: none;
    padding: 10px 0px 10px 40px;
    font-size: 26.9932px;
    line-height: 50px;
    padding-right: inherit;

}

.e1 {
    padding-right: 173px; 
}

.e2 {
    padding-right: 106.5px; 
}

.e3 {
    padding-right: 54.2px; 
}

.e4 {
    padding-right: 106px; 
}

.e5 {
    padding-right: 128px; 
}

.kartinka {
    width: 916px;
    margin-left: 30px;
    
    padding-bottom: -10px;
}

img {
    width: 916px;
    border: 1px solid rgb(95, 95, 95);
}

p {
    font-size: 18px;
    
}

.endmenu {
    width: 1249px;
    margin: 40px;
    background: rgb(99, 105, 110, 0.48);
    
    
}

.endmenu > ul {
    list-style: none;
    display: inline-flex;

}

.endmenu-ss {
    
    text-decoration: none;
    color: black;
    font-size: 28px;
    padding: 10px 20px;
}

.endmenu-ss:hover {
    text-decoration: underline;
    color: rgb(3, 108, 150);
}

.cop {
    font-size: 24px;
    padding-left: 45px;
}