body {
    font-family: 'Open Sans', sans-serif;
    width: 1900px;
    height: 4220px;
    margin: 0px;
    padding: 0px;
    perspective: 1px; 
    overflow-y: scroll;
}

header  {
    display: flex;
    width: 100%;
    height: 70px;
    background: #313131;
    justify-content: space-between;
    align-items: center;
}

header a {
    text-decoration: none;
    color: #fff;
}

.serch {
    display: flex;
    font-size: 17px;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    background: #000;
    color: #fff; 
    
}

.nav__menu ul  {
    display: flex;
    list-style: none;
    justify-content: center;
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
    
}

.nav__menu li {
    padding: 21px;
}

.Architect {
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
    align-content: start;
    padding-left: 40px;
    
}
 .logo {
     margin-right: 12px;
     align-items: center;
 }
 
.parallax__top {
    height: 445px;
    background-image: url(header-bg.jpeg);
    background-size: 100vw;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.black {
    background-color: rgba(0, 0, 0, 0.658);
    size: inherit;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: #fff;
    text-align: center;  
    padding-top: 18vh;
}

.h__one {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    text-align: center;
    margin-bottom: 65px;

    color: #FFFFFF;
}

.but__sub__now {
    width: 170px;
    height: 55px;
    background: #89CA62;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    
    padding: 17px 30px;
    margin-top: 44px;
    font-weight: 600;
}

.but__best {
    width: 170px;
    height: 55px;
    background: #14B9D5;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    margin-left: 69px;
    padding: 17px 30px;
    font-weight: 600;
    
}


.h__most {
    font-weight: bold;
    font-size: 27px;
    text-align: center;
    text-transform: uppercase;  
    color: #18B4CF;
    margin: 65px;
}

.posts__flex {
    display: flex;
    margin: 0px 17vw 30px 17vw;
    justify-content: start;
    flex-flow: column;
    flex-wrap: wrap;
    height: 87vh;

    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    display: flex;
    align-items: flex-end;
    text-align: center;

    color: #353A3D;
}

.posts__flex > div  {
    max-width: 370px;
    text-align: center;
    margin: 0px  15px 40px 15px;
}

.parallax__bot {
    height: 445px;
    background-image: url(parallax-bg.jpeg);
    background-size: 100vw;
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: relative;
    font-weight: bold;
    font-size: 32px;
    line-height: 44px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
}

.parallax__bot > p {
    padding-top: 10vh;
}

.black__bot > div {
    display: flex;
    justify-content: space-evenly;
    margin: 5vh 20vw;

}

.black__bot {
    background-color: rgba(0, 0, 0, 0.377);
    size: inherit;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: #fff;
    text-align: center;  
    padding-top: 10vh;
}

.h__rated {
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    text-align: center;
    text-transform: uppercase;
    color: #18B4CF;
    margin: 60px;
}

.line__img {
    display: flex;
    flex-basis: 5%;
}


.news {
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    text-align: center;
    text-transform: uppercase;
    color: #18B4CF;
    margin: 60px;
}



.grid__news {
    font-weight: 600;
    font-size: 14px;
    line-height: 25px;

    color: #353A3D;


    display: grid;
    grid-template-columns: 25% 22% 25% auto;
    grid-template-rows: 310px 515px 515px 310px;
    background: #fff;
    width: 64vw;
    margin-left: 18vw;
    margin-right: 18vw;
    margin-top: 30px;
    grid-template-areas: 
    "one one one two"
    "three three for for"
    "fife fife six six"
    "seven eight eight  eight"
    ;
}

.text {
    padding: 0 20px 10px 20px;
}


.one {
    grid-area: one;
    align-self: start;
    justify-self: end;
    margin-bottom: 44px;
    width: 856px;
    height: 260px;
    background: rgb(249, 247, 247);
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
    padding-right: 20px;

    
    text-align: right;
}

.two {
    grid-area: two;
    justify-self: end;
    text-align: center;
    background: #F9F7F7;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
    margin-right: 20px;
    height: 259px;
    margin-bottom: 44px;
    
}

.three {
    grid-area: three;
    justify-self: end;
    text-align: end;
    background: #F9F7F7;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
    margin-right: 20px;
    margin-bottom: 44px;
    
}

.for {
    grid-area: for;
    justify-self: end;
    text-align: end;
    background: #F9F7F7;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
    margin-right: 20px;
    margin-bottom: 44px;
}

.fife {
    grid-area: fife;
    justify-self: end;
    text-align: end;
    background: #F9F7F7;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
    margin-right: 20px;
    margin-bottom: 44px;
}

.six {
    grid-area: six;
    margin-bottom: 44px;
    justify-self: end;
    text-align: end;
    background: #F9F7F7;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
    margin-right: 20px;
}

.seven {
    grid-area: seven;
    align-self: start;
    justify-self: end;
    text-align: center;
    background: #F9F7F7;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
    margin-right: 20px;
    height: 259px;
}

.eight {
    grid-area: eight;
    justify-self: end;
    text-align: center ;
    width: 856px;
    height: 259px;
    background: #F9F7F7;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
    margin-right: 20px;
}

.grid__news p {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;

    color: #353A3D;
}

.size__one {
    display: inline-flex ;
}
.size__one > img {
    width: 483px;
    height: 259px;
}


.size__three  {
    
    width: 554px;
    height: 259px;
}

footer {
    display: flex;
    justify-content: space-around;

    margin-top: 70px;

    width: 1900px;
    height: 80px;

    position: absolute;
    bottom: 0px;
    left: 0;

    background: #000000;

}


.foot__text {
    font-size: 13px;
    line-height: 21px;

    align-self: center;
    

    color: #FFFFFF;
}

.foot__logo {
    align-self: center;
    height: 26px;
    width: 150px;
    
}
.foot__logo div {
    display: flex;


}

.logo__foot {
    position: absolute;
    right: 355px;
    bottom: 36px;
}

.hernya {
    position: absolute;
    bottom: 28px;
    
}


