body {
   background: url("background 1.png");
   font-family: Roboto;
}


.logo a{
    font-size: 1.8rem;
    color: #ffffff;
    text-decoration: none;

}

.hol {
    font-size: 1.125rem;
    color: #ffffff;
    

}

.logo div {
    display: inline-block;
    width: 100px;
    line-height: 1.5rem;
}

.logo {
    float: left;
    font-weight: bold;
    text-transform: uppercase;
    
}
header {
    width: 64,25rem;
    padding-left: 10.5rem;    
    padding-right: 10.5rem;
    height: 3rem;
    padding-top: 3rem;
}

.tel__mail {
    float: right;
    width: 15rem;
    text-align: right;
    font-size: 1.125rem;
}

.tel__mail a {
    color: #ffffff;
    text-decoration: none;
}

.galery {
    /* position: fixed; */
    margin-left: 168px;
    margin-top: 38px;
    text-decoration: none;
}

.galery div {
    width: 300px;
    height: 219px;
    float: left;
    margin-right: 54px;
    margin-bottom: 79px;
    text-align: center;
}




.galery p {
    text-decoration: none;
    color: #ffffff;
    margin-top: 238px;
    font-size: 18px;

}

.bac__1 {
    background: url("img1.png");
}

.bac__2 {
    background: url("img2.png");
}


.bac__3 {
    background: url("img3.png");
}


.bac__4 {
    background: url("img4.png");
}


.bac__5 {
    background: url("img5.png");
}


.bac__6 {
    background: url("img6.png");
}

a :hover {
    color: #F26522;
}

header :hover {
    color: #F26522;


}

.logo__hov {
    display: none;
}

.logo__1 {
    margin-left: -60px;
}

.logo__1 :hover {
    opacity: 0.5;
}

footer {
    text-align: center;
    clear: both;
    color: #ffffff;
}

.bac__1 :hover {
    /* background: url("hover.png"); */
}

