.simplephoto {position: absolute;
    position: absolute;
    width: 1280px;
    height: 1626px;
    left: calc(50% - 1280px/2);


    background: rgba(0, 0, 0, 0.0001);
}
.navbar {
    position: absolute;
    width: 620px;
    height: 15px;
    left: 330px;
    top: 32px;
}
.home {
    position: absolute;
    width: 68px;
    height: 400px;
    left: 0px;
    top: -191px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 400px;
    /* identical to box height, or 2222% */

    display: flex;
    align-items: center;
    letter-spacing: 2.7px;
    text-transform: uppercase;

    color: #FF0000;

}
.photoapp {
    position: absolute;
    width: 131px;
    height: 400px;
    left: 126px;
    top: -191px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 400px;
    /* identical to box height, or 2222% */

    display: flex;
    align-items: center;
    letter-spacing: 2.7px;
    text-transform: uppercase;

    color: #FF0000;
}
.design {
    position: absolute;
    width: 87px;
    height: 400px;
    left: 315px;
    top: -191px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 400px;
    /* identical to box height, or 2222% */

    display: flex;
    align-items: center;
    letter-spacing: 2.7px;
    text-transform: uppercase;

    color: #FF0000;
}
.download {
    position: absolute;
    width: 140px;
    height: 400px;
    left: 460px;
    top: -191px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 400px;
    /* identical to box height, or 2222% */

    display: flex;
    align-items: center;
    letter-spacing: 2.7px;
    text-transform: uppercase;

    color: #FF0000;
}
.img {
    position: absolute;
    width: 1280px;
    height: 789px;
    left: 0px;
    top: 78px;

    background: url(img/image1.png);
}
.content {
    position: absolute;
    width: 1280px;
    height: 650px;
    left: calc(50% - 1280px/2);
    bottom: 108px;
}
.h {
    position: absolute;
    width: 774px;
    height: 29px;
    left: 342px;
    top: 47px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    display: flex;
    align-items: flex-end;
    letter-spacing: 3.3px;
    text-transform: uppercase;

    color: #373737;

}
.rettangolo {
    position: absolute;
    width: 195px;
    height: 54px;
    left: 543px;
    top: 555px;


    background: #FF0000;
}

.getstarted {
    position: absolute;
    width: 105px;
    height: 20px;
    left: 588px;
    top: 572px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 20px;
    /* identical to box height, or 167% */

    display: flex;
    align-items: center;
    letter-spacing: 1.8px;
    text-transform: uppercase;

    color: #FFFFFF;

}
.text {
    position: absolute;
    width: 1145px;
    height: 434px;
    left: 68px;
    top: 98px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    /* or 162% */

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 2.4px;

    color: #373737;
}
.bg {
    position: absolute;
    width: 1280px;
    height: 650px;
    left: 0px;
    top: 0px;

    background: rgba(0, 0, 0, 0.0001);
}
.footer {
    position: absolute;
    width: 1069px;
    height: 80px;
    right: 104px;
    bottom: 45px;

}
.cop {
    position: absolute;
    width: 509px;
    height: 29px;
    left: 585px;
    top: 41px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: flex-end;
    letter-spacing: 2.4px;

    color: #373737;

}
.sfondo {
    position: absolute;
    width: 1280px;
    height: 1626px;
    left: calc(50% - 1280px/2);
    top: calc(50% - 1626px/2);

    background: rgba(0, 0, 0, 0.0001);
}
